apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app:  flaresolverr
  name:  flaresolverr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaresolverr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: America/Chicago
          image: ghcr.io/flaresolverr/flaresolverr:latest
          name:  flaresolverr
          resources:
            requests:
              memory: "1Gi"
            limits:
              memory: "4Gi"
          ports:
            - containerPort: 8191
              protocol: TCP
      restartPolicy: Always