---
apiVersion: v1
kind: Secret
metadata:
  name: repo-lab
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://gitlab.com/mcfitz2/lab.git
  password: {{gitlab_token}}
  username: {{gitlab_user}}

---
apiVersion: v1
kind: Secret
metadata:
  name: repo-immich
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: Immich
  url: https://immich-app.github.io/immich-charts
  type: helm