---
version: "3.8"
name: home-automation
services:
  grocy:
    image: lscr.io/linuxserver/grocy:latest
    container_name: grocy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - ./grocy:/config
    ports:
      - 9283:80
    restart: unless-stopped
  magic-mirror-office:
    container_name: magic-mirror-office
    build:
      context: ./magic-mirror
    ports:
      - 8080:8080
    restart: always
  magic-mirror-living-room:
    build:
      context: ./magic-mirror-home
    container_name: magic-mirror-living-room
    ports:
      - 8081:8080
    restart: always