apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app:  tautulli
  name:  tautulli
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tautulli
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: tautulli
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: America/Chicago
          image: lscr.io/linuxserver/tautulli:latest
          resources:
             requests:
               memory: "150Mi"
             limits:
               memory: "2Gi"
          name:  tautulli
          ports:
            - containerPort: 8181
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: tautulli-config
      restartPolicy: Always
      volumes:
        - name: tautulli-config
          persistentVolumeClaim:
            claimName: tautulli-config