apiVersion: v1
kind: Service
metadata:
  labels:
    app: magic-mirror-home
  name: magic-mirror-home
  namespace: misc
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    app: magic-mirror-home
