apiVersion: apps/v1
kind: Deployment
metadata:
  name: instagram
  namespace: greatlakes

spec:
  replicas: 1
  selector:
    matchLabels:
      app: instagram
  template:
    metadata:

      labels:
        app: instagram
    spec:
      imagePullSecrets:
        - name: gitlab-credentials
      containers:
        - env:
            - name: OAUTH_URL
              value: http://oauth.greatlakes.svc.cluster.local:4002
            - name: PREFECT_API_KEY
              value: "{{ lookup('bitwarden.secrets.lookup', 'a967dcc7-6410-4a51-a9e8-b202013ce6e4') }}"
            - name: PREFECT_API_URL
              value: "{{ lookup('bitwarden.secrets.lookup', 'fa0d0056-4ed9-46d4-b211-b202013d0a83') }}"
          image: registry.gitlab.com/mcfitz2/lab/instagram:latest
          name: instagram
      restartPolicy: Always
