apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth
  namespace: greatlakes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oauth
  template:
    metadata:
      labels:
        app: oauth
    spec:
      imagePullSecrets:
        - name: gitlab-credentials
      containers:
        - env:
            - name: BASE_URL
              value: "https://{{ oauth_service_fqdn }}"
            - name: PREFECT_API_KEY
              value: "{{ lookup('bitwarden.secrets.lookup', 'a967dcc7-6410-4a51-a9e8-b202013ce6e4') }}"
            - name: PREFECT_API_URL
              value: "{{ lookup('bitwarden.secrets.lookup', 'fa0d0056-4ed9-46d4-b211-b202013d0a83') }}"
          image: registry.gitlab.com/mcfitz2/lab/oauth:latest
          resources:
             requests:
               memory: "150Mi"
             limits:
               memory: "2Gi"
          name: oauth
          ports:
            - containerPort: 4002
              protocol: TCP
      restartPolicy: Always
