.vscode
docker/general/dwayne/.mongodb/
docker/general/dwayne/data
general/inventory/data/
docker/home-automation/grocy/
docker/home-automation/magic-mirror-home/
docker/home-automation/magic-mirror/
docker/management/influxdb/
docker/media/bazarr/
docker/media/jackett-data/
docker/media/lidarr-data/
docker/media/nzbget-data/
docker/media/overseerr/
docker/media/plex/
docker/media/prowlarr/
docker/media/radarr-data/
docker/media/readarr/
docker/media/sonarr-data/
docker/media/tautulli/
docker/media/tdarr/
docker/media/transmission-data/
docker/media/tailscale-transmission/
docker/media/whisparr/
docker/greatlakes/data
kompose
ansible/collections
ansible/roles/geerlingguy.nfs
ansible/roles/geerlingguy.node_exporter
ansible/roles/bastiaanvanassche.s3fs-fuse
