apiVersion: v1
kind: Service
metadata:
  labels:
    app: overseer
  name: overseer
  namespace: media
spec:
  ports:
    - name: "5055"
      port: 5055
      targetPort: 5055
  selector:
    app: overseer
