apiVersion: v1
kind: Service
metadata:
  labels:
    app: formula1
  name: formula1
  namespace: media
spec:
  ports:
    - name: "9999"
      port: 9999
      targetPort: 9999
  selector:
    app: formula1
