---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grocy
  namespace: misc
spec:
  ingressClassName: cloudflare-tunnel
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grocy
                port:
                  number: 80
      host: "{{ grocy_fqdn }}"