# yamllint disable rule:line-length
---
version: "3.8"
name: greatlakes
networks:
  greatlakes:
volumes:
  pgadmin-data:
services:
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    networks:
      - greatlakes
    ports:
      - "8889:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: "{{ pgadmin_user }}"
      PGADMIN_DEFAULT_PASSWORD: "{{ pgadmin_pass }}"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  grafana:
    image: grafana/grafana:latest
    container_name: greatlakes_grafana
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - greatlakes
    ports:
      - "3099:3000"
    volumes:
      - ./data/grafana:/var/lib/grafana
    environment:
      GF_INSTALL_PLUGINS: "grafana-worldmap-panel,vonage-status-panel"
      GF_SERVER_PROTOCOL: "http"
      GF_FEATURE_TOGGLES_ENABLE: "regressionTransformation"
