apiVersion: v1
kind: Service
metadata:
  labels:
    app: unpoller
  name: unpoller
  namespace: monitoring
spec:
  type: NodePort
  ports:
    - name: "9221"
      port: 9130
      targetPort: 9130
      nodePort: {{ unpoller_port }}
      protocol: TCP
  selector:
    app: unpoller
