apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: ../../ansible/kompose convert
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: oauth
  name: oauth
spec:
  ports:
    - name: "4002"
      port: 4002
      targetPort: 4002
  selector:
    io.kompose.service: oauth
