apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: ../../ansible/kompose convert
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: uptime
  name: uptime
spec:
  ports:
    - name: "4003"
      port: 4003
      targetPort: 4003
  selector:
    io.kompose.service: uptime
