apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: monica
  name: monica
  namespace: misc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: monica
  name: monica-db
  namespace: misc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
