---
version: '3.8'
name: general
services:
  habit:
    build: habit
    image: registry.gitlab.com/mcfitz2/lab/habit:latest
    environment:
      - POSTGRES_HOST="{{greatlakes_host}}"
      - POSTGRES_USER="{{ greatlakes_user }}"
      - POSTGRES_PASS="{{ greatlakes_pass}}"
      - POSTGRES_DB="{{greatlakes_db}}"
      - POSTGRES_PORT="{{ greatlakes_port }}"
    ports:
      - 8987:8989
    restart: always
