apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app:  nzbget
  name:  nzbget
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nzbget
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nzbget
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: America/Chicago
          image: lscr.io/linuxserver/nzbget:latest
          resources:
             requests:
               memory: "150Mi"
             limits:
               memory: "2Gi"
          name:  nzbget
          ports:
            - containerPort: 7878
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: nzbget-config
            - mountPath: /downloads
              name: nzbget-downloads
      restartPolicy: Always
      volumes:
        - name: nzbget-config
          persistentVolumeClaim:
            claimName: nzbget-config
        - name: nzbget-downloads
          nfs:
            server: "{{ nfs_server_host }}"
            path:  "{{ media_nfs_export }}/downloads/nzbget"
