apiVersion: v1
kind: Service
metadata:
  labels:
    app: kasm-chrome
  name: kasm-chrome
  namespace: misc
spec:
  ports:
    - name: "6901"
      port: 6901
      targetPort: 6901
  selector:
    app: kasm-chrome
