---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: chicahgo
  namespace: misc
spec:
  ingressClassName: cloudflare-tunnel
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chicahgo
                port:
                  number: 8989
      host: "{{ chicahgo_fqdn }}"