apiVersion: v1
kind: Secret
metadata:
  name: google-service-account
  namespace: misc
type: Opaque
data:
  service_account.json: "{{ lookup('bitwarden.secrets.lookup', '5e47f58a-0461-4bda-a8ba-b25e0125a798', state_file_dir=bitwarden_state_dir) | b64encode }}"