apiVersion: v1
kind: Service
metadata:
  labels:
    app: chicahgo
  name: chicahgo
  namespace: misc
spec:
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
  selector:
    app: chicahgo
