apiVersion: v1
kind: Service
metadata:
  labels:
    app: namada-exporter
  name: namada-exporter
  namespace: monitoring
spec:
  type: NodePort
  ports:
    - name: "9186"
      port: 9186
      targetPort: 9186
      nodePort: {{ namada_exporter_port }}
      protocol: TCP
  selector:
    app: namada-exporter
