apiVersion: v1
kind: Service
metadata:
  labels:
    app: pve-exporter
  name: pve-exporter
  namespace: monitoring
spec:
  type: NodePort
  ports:
    - name: "9221"
      port: 9221
      targetPort: 9221
      nodePort: {{ pve_exporter_port }}
      protocol: TCP
  selector:
    app: pve-exporter
