apiVersion: v1
kind: Service
metadata:
  labels:
    app: prometheus-prefect-exporter
  name: prometheus-prefect-exporter
  namespace: monitoring
spec:
  type: NodePort
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
      nodePort: {{ prometheus_prefect_exporter_port }}
      protocol: TCP
  selector:
    app: prometheus-prefect-exporter
