apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app:  transmission-exporter
  name:  transmission-exporter
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission-exporter
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: transmission-exporter
    spec:
      imagePullSecrets:
        - name: gitlab-credentials
      containers:
        - env:
          - name: TRANSMISSION_ADDR
            value: http://transmission.media.svc.cluster.local:9091
          image: metalmatze/transmission-exporter:latest
          resources:
             requests:
               memory: "150Mi"
             limits:
               memory: "2Gi"
          name:  transmission-exporter
          ports:
            - containerPort: 19091
              protocol: TCP
      restartPolicy: Always
