apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app:  pgadmin
  name:  pgadmin
  namespace: greatlakes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
        - env:
            - name: PGADMIN_DEFAULT_EMAIL
              value: "{{ pgadmin_user }}"
            - name: PGADMIN_DEFAULT_PASSWORD
              value: "{{ pgadmin_pass }}"
          image: dpage/pgadmin4
          resources:
             requests:
               memory: "150Mi"
             limits:
               memory: "2Gi"
          name:  pgadmin
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /var/lib/pgadmin
              name: pgadmin-config
      restartPolicy: Always
      volumes:
        - name: pgadmin-config
          persistentVolumeClaim:
            claimName: pgadmin-config