apiVersion: v1
kind: Service
metadata:
  labels:
    app: nzbget-exporter
  name: nzbget-exporter
  namespace: monitoring
spec:
  type: NodePort
  ports:
    - name: "9452"
      port: 9452
      targetPort: 9452
      nodePort: {{ nzbget_exporter_port }}
      protocol: TCP
  selector:
    app: nzbget-exporter
